p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.logo {
  height: 150px;
  width: 150px;
  float: right;
}

.join {
  height: 150px;
  width: 200px;
  float: right;
  clear: right;
}

/* set styles for alert boxes */

.danger, .warning, .info, .success , .alert, .try {
  color: black;
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.danger {
  background-image: url("images/alerts/warning.svg");
}

.warning {
  background-image: url("images/alerts/warning.svg");
}

.info {
  background-image: url("images/alerts/info.svg");
}

.try {
  background-image: url("images/alerts/brain.svg");
}

.success {
  background-color: #cfffcc;
}

/* set styles for code output messages */

pre:not(.sourceCode) {
  background-color: #eeeef6;
}
pre:not(.sourceCode) code {
  color: grey !important;
}
